{% extends 'base.html' %}

{% block content %}



    <div class="text-center" style="margin-top: 30vh;">

        <span style="display: block; font-size: 30px; line-height: 90%;">This is</span>    
        <span style="display: block; font-size: 100px; font-weight: 600; line-height: 90%;">PhotoArch</span>
        <span style="display: block; font-size: 20px; line-height: 90%;" class="mt-3">archiving service designed by</span>
        <span style="display: block;font-size: 30px;">DimoNika</span>
    </div>
    
{% endblock %}