{% extends 'base.html' %}

{% block content %}



    <div style="margin-top: 10vh; margin-bottom: 10vh; padding: 10px;">
        <div class="card mx-auto" style="max-width: 400px;">
            <div class="card-body">
            <h3 class="card-title mb-4">Login</h3>
            <!-- FORM START -->
            
            <form action="" method="post">

                {% csrf_token %}
                {% for field in form %}

                <div class="form-floating mb-3">
                    {{ field }}
                    <label for="{{ field.id }}">{{ field.name|capfirst }}</label>
                </div>
                {% endfor %}
                
                <span class="mb-4" style="display: block;">Don't have account? Make sure to <a href="{% url 'users:registre' %}">Sign up</a>!</span>
                
                <button class="btn btn-outline-success float-end">Login</button>
            </form>
            
            <!-- FORM END -->
            </div>
        </div>
    </div>

{% endblock %}
