{% extends 'base.html' %}

{% block content %}


    <div style="margin-top: 10vh; margin-bottom: 10vh;">
        <div class="card mx-auto" style="width: 27rem;">
            <div class="card-body">
            <h3 class="card-title mb-4">Registration</h3>


            <form action="" method="post">

                {% csrf_token %}

                
                <!-- username -->
                <div class="form-floating">
                    {{ form.username }}
                    <label for="floatingInput">Username</label>
                    
                </div>
                <ul class="mb-5">
                    {% for error in form.username.errors %}
                            <li class="text-danger">{{ error }}</li>
                    {% endfor %}
                </ul>

                <!-- password1 -->
                <div class="form-floating">
                    {{ form.password1 }}
                    <label for="floatingPassword">Password</label>
                </div>

                <ul class="mb-3">
                    {% for error in form.password1.errors %}
                        <li class="text-danger">{{ error }}</li>
                    {% endfor %}
                </ul>

                <!-- password2 -->
                <div class="form-floating">
                    {{ form.password2 }}
                    <label for="floatingPassword">Password</label>
                </div>
                <ul class="mb-3">
                    {% for error in form.password2.errors %}
                        
                        <li class="text-danger">{{ error }}</li>
                    {% endfor %}
                </ul>
                
                
                
                <span class="mb-4" style="display: block;">Already have account? <a href="{% url 'users:login' %}">Login</a> here!</span>
                
                <button class="btn btn-outline-success float-end">Registre</button>
            </form>
            </div>
        </div>
    </div>

{% endblock %}